mixin input(placeholder, type, addClass)
    input(type=type placeholder=placeholder class=addClass).input

mixin textarea(placeholder, addClass)
    textarea(placeholder=placeholder class=addClass).textarea