mixin input(placeholder, type, addClass)
    input(type=type placeholder=placeholder class=addClass).input

mixin textarea(placeholder, addClass)
    textarea(placeholder=placeholder class=addClass).textarea


label.file-load
    input(type="file").file-load__hide
    span.file-load__text Attached Document