mixin item(title, url)
    li
        a(href=url, class=active == title ? 'active' : '')= title

mixin listLink(title, url, classList, classLink)
    li(class=classList)
        a(href=url class=classLink)= title

mixin iconSvg(w, h, wp, id)
    svg(width=w height=h class=id)
        use(xlink:href="img/icons/sprites.svg#"+id)

mixin mixinSvg(w, h, idIcon, className)
    svg(width=w height=h class=className)
        use(xlink:href="img/icons/sprites.svg#"+idIcon)

mixin img(src, addClass, altImg)
    if altImg === ""
        img(src=src alt="Title Image" class=addClass)
    else
        img(src=src alt=altImg class=addClass)

mixin input(placeholder, type, addClass)
    input(type=type placeholder=placeholder class=addClass).input

mixin textarea(placeholder, addClass)
    textarea(placeholder=placeholder class=addClass).textarea

mixin radioInput(checked, text)
    label.radio-button
        if checked == true
            input.radio-button__input(type="radio" name="radio" checked="checked")
        else
            input.radio-button__input(type="radio" name="radio")
        span.radio-button__text
            span.radio-button__status
            span=text

mixin checkInput(checked, text)
    label.checkbox-button
        if checked == true
            input.checkbox-button__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-button__input(type="checkbox" required="")
        span.checkbox-button__text
            span.checkbox-button__status
            block

mixin checkInputDefault(checked, name, text)
    label.checkbox-default
        if checked == true
            input.checkbox-default__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-default__input(type="checkbox" required="")
        span.checkbox-default__text
            span.checkbox-default__status
            span.checkbox-default__text-name= name
            span.checkbox-default__text-content=text

mixin radioInputDefault(checked, radioName, name)
    label.radio-default
        if checked == true
            input.radio-default__input(type="radio" name=radioName checked="checked" required="")
        else
            input.radio-default__input(type="radio" name=radioName required="")
        span.radio-default__text
            span.radio-default__status
            span.radio-default__text-name= name
            span.radio-default__text-content
                block

mixin qtyInput(value)
    .qty-input__wrapper
        i.qty-input__minus.
            <svg width="11" height="1" viewBox="0 0 11 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0641 0.599976H0.300049C0.220484 0.599976 0.144152 0.568407 0.0878906 0.512146C0.0316297 0.455885 0 0.379553 0 0.299988C0 0.220423 0.0316297 0.144091 0.0878906 0.0878296C0.144152 0.0315687 0.220484 0 0.300049 0H10.0641C10.1437 0 10.2199 0.0315687 10.2761 0.0878296C10.3324 0.144091 10.364 0.220423 10.364 0.299988C10.364 0.379553 10.3324 0.455885 10.2761 0.512146C10.2199 0.568407 10.1437 0.599976 10.0641 0.599976V0.599976Z" fill="white"/>
            </svg>
        input(type="text" value=value).qty-input
        i.qty-input__plus.
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.0641 5.47803H0.300049C0.220484 5.47803 0.144152 5.44646 0.0878906 5.3902C0.0316297 5.33394 0 5.2576 0 5.17804C0 5.09847 0.0316297 5.02214 0.0878906 4.96588C0.144152 4.90962 0.220484 4.87805 0.300049 4.87805H10.0641C10.1437 4.87805 10.2199 4.90962 10.2761 4.96588C10.3324 5.02214 10.364 5.09847 10.364 5.17804C10.364 5.2576 10.3324 5.33394 10.2761 5.3902C10.2199 5.44646 10.1437 5.47803 10.0641 5.47803V5.47803Z" fill="white"/>
            <path d="M5.18286 10.364C5.1033 10.364 5.02696 10.3324 4.9707 10.2761C4.91444 10.2199 4.88281 10.1436 4.88281 10.064V0.299988C4.88281 0.220423 4.91444 0.144152 4.9707 0.0878906C5.02696 0.0316297 5.1033 0 5.18286 0C5.26243 0 5.33876 0.0316297 5.39502 0.0878906C5.45128 0.144152 5.48291 0.220423 5.48291 0.299988V10.064C5.48291 10.1436 5.45128 10.2199 5.39502 10.2761C5.33876 10.3324 5.26243 10.364 5.18286 10.364V10.364Z" fill="white"/>
            </svg>